<!DOCTYPE html>
<html lang="en">
<head>
    <title>Document</title>
</head>
<script>
    var mystring =""; //Used for the randomizing of passwords
    var trackstr = ["","",""]; //Keeps track of all three passwords
    var order = [0,1,2]; //Tracks the order of the random password testing
    let event = "";
    var count = 0;
    var attempt = 0;
    let user = "";
    


    function show(){
        shuffle(order);//Shuffles the order
        for(let i = 0; i < 3; i++){//Runs through order and places the only 3 attempts in there random order
            if (order[i] == 0){
                document.write("<h4 id = 'text4'> Email <br> Only 3 attempts allowed <br><br> <button onclick = 'pass()' id = 'email3'>Enter</button><button onclick = 'increase()' id = 'email4'>Next</button></h4>");
            }
            else if (order[i]== 1){
                document.write("<h4 id = 'text5'>Bank <br> Only 3 attempts allowed <br><br>  <button onclick = 'pass()' id = 'bank3'>Enter</button><button onclick = 'increase()' id = 'bank4'>Next</button></h4>");
            }
            else if(order[i]==2){   
                document.write("<h4 id = 'text6'>Shopping <br> Only 3 attempts allowed <br><br>  <button onclick = 'pass()' id = 'shop3'>Enter</button><button onclick = 'increase()' id = 'shop4'>Next</button></h4>");
            }
        }
        
    }
    function shuffle(a) {
        var j, x, i;
        for (i = a.length - 1; i > 0; i--) {
            j = Math.floor(Math.random() * (i + 1));
            x = a[i];
            a[i] = a[j];
            a[j] = x;
        }
    }
    function setup(){   
        if(count==0){
            document.getElementById("email1").disabled = false;
            document.getElementById("email2").disabled = false;
            document.getElementById("email3").disabled = true;
            document.getElementById("email4").disabled = true;
            document.getElementById("bank1").disabled = true;
            document.getElementById("bank2").disabled = true;
            document.getElementById("bank3").disabled = true;
            document.getElementById("bank4").disabled = true;
            document.getElementById("shop1").disabled = true;
            document.getElementById("shop2").disabled = true;
            document.getElementById("shop3").disabled = true;
            document.getElementById("shop4").disabled = true;
            if(trackstr[0]=="")
                document.getElementById("email2").disabled = true;
            document.getElementById("text1").style = "border:1px solid black; background-color: #c5fcc8";
            document.getElementById("text2").style = "border:1px solid black; background-color: #bababa";
            document.getElementById("text3").style = "border:1px solid black; background-color: #bababa";
            document.getElementById("text4").style = "border:1px solid black; background-color: #bababa";
            document.getElementById("text5").style = "border:1px solid black; background-color: #bababa";
            document.getElementById("text6").style = "border:1px solid black; background-color: #bababa";
        }
        else if (count == 1){
            document.getElementById("email1").disabled = true;
            document.getElementById("email2").disabled = true;
            document.getElementById("email3").disabled = true;
            document.getElementById("email4").disabled = true;
            document.getElementById("bank1").disabled = false;
            document.getElementById("bank2").disabled = false;
            document.getElementById("bank3").disabled = true;
            document.getElementById("bank4").disabled = true;
            document.getElementById("shop1").disabled = true;
            document.getElementById("shop2").disabled = true;
            document.getElementById("shop3").disabled = true;
            document.getElementById("shop4").disabled = true;
            if(trackstr[1]=="")
                document.getElementById("bank2").disabled = true;
            document.getElementById("text1").style = "border:1px solid black; background-color: #bababa";
            document.getElementById("text2").style = "border:1px solid black; background-color: #c5fcc8";
            document.getElementById("text3").style = "border:1px solid black; background-color: #bababa";
            document.getElementById("text4").style = "border:1px solid black; background-color: #bababa";
            document.getElementById("text5").style = "border:1px solid black; background-color: #bababa";
            document.getElementById("text6").style = "border:1px solid black; background-color: #bababa";
        }
        else if (count==2){
            document.getElementById("email1").disabled = true;
            document.getElementById("email2").disabled = true;
            document.getElementById("email3").disabled = true;
            document.getElementById("email4").disabled = true;
            document.getElementById("bank1").disabled = true;
            document.getElementById("bank2").disabled = true;
            document.getElementById("bank3").disabled = true;
            document.getElementById("bank4").disabled = true;
            document.getElementById("shop1").disabled = false;
            document.getElementById("shop2").disabled = false;
            document.getElementById("shop3").disabled = true;
            document.getElementById("shop4").disabled = true;
            if(trackstr[2]=="")
                document.getElementById("shop2").disabled = true;
            document.getElementById("text1").style = "border:1px solid black; background-color: #bababa";
            document.getElementById("text2").style = "border:1px solid black; background-color: #bababa";
            document.getElementById("text3").style = "border:1px solid black; background-color: #c5fcc8";
            document.getElementById("text4").style = "border:1px solid black; background-color: #bababa";
            document.getElementById("text5").style = "border:1px solid black; background-color: #bababa";
            document.getElementById("text6").style = "border:1px solid black; background-color: #bababa";
        }
        else if (count == 3){
            if(order[0]==0){
                first();
            }
            else if (order[0]==1){
                sec();
            }
            else{
                third();
            }
        }
        else if (count == 4){
            if(order[1]==0){
                first();
            }
            else if (order[1]==1){
                sec();
            }
            else{
                third();
            }
        }
        else if(count == 5){
            if(order[2]==0){
                first();
            }
            else if (order[2]==1){
                sec();
            }
            else{
                third();
            }
        }
    }
    function opened(){
        random(); //Randomizes the password
        localStorage.setItem("str", trackstr[count]); //Stores the password in localStorage so it can go to Password.html
        window.open('Password.html','_blank','titlebar=no,toolbar=no,location=no, height = 350,width = 500'); //Opens Password.html
        setup();//Resets Index.html
    }
    function random(){
        mystring = "";//Resets mystring so that the previous data doesn't simply get added on
        for(let i = 0;i<7;i++){ //loops throught to give a random password 
            var temp = Math.floor(Math.random() * 8) + 1;
            if (temp == 1)
                mystring += "w";
            else if (temp == 2)
                mystring += "q";
            else if (temp == 3)
                mystring += "e";
            else if (temp == 4)
                mystring += "a";
            else if (temp == 5)
                mystring += "d";
            else if (temp == 6)
                mystring += "z";
            else if (temp == 7)
                mystring += "x";
            else if (temp == 8)
                mystring += "c";
        }
        trackstr[count] = mystring; //keeps track of the password trackstr
    }
    function send(x, y, z){
        let date = new Date();
        let dstr = date.getFullYear()+"-"+(date.getMonth()+1)+"-"+date.getDate() + " "+date.getHours()+":"+
        date.getMinutes()+":"+date.getSeconds();
        if(localStorage.getItem("hold") == null) {
            localStorage.setItem("hold", JSON.stringify([])); 
        }
        if (z=="") z = navigator.userAgent;
        let rest = JSON.stringify([dstr, localStorage.getItem('user'), "directpass","directrandom", "qweadzxc", x,
        y, z]);
        const options = {
            method: 'POST',
            headers: {
                "Content-type": "application/JSON"
            },
            body: rest
        };
        fetch('/data', options)
    }
    function increase(){
        attempt = 0; //Resets the number of attempts
        count++; //Goes to the next part of the program
        if(count > 5)
            submit();
        else{
            setup(); //Resets the screen
        }
    }
    function first(){
        document.getElementById("email1").disabled = true;
        document.getElementById("email2").disabled = true;
        document.getElementById("email3").disabled = false;
        document.getElementById("email4").disabled = false;
        document.getElementById("bank1").disabled = true;
        document.getElementById("bank2").disabled = true;
        document.getElementById("bank3").disabled = true;
        document.getElementById("bank4").disabled = true;
        document.getElementById("shop1").disabled = true;
        document.getElementById("shop2").disabled = true;
        document.getElementById("shop3").disabled = true;
        document.getElementById("shop4").disabled = true;

        if(attempt == 0)
            document.getElementById("email4").disabled = true;
        if(attempt == 3)
            document.getElementById("email3").disabled = true;
        document.getElementById("text1").style = "border:1px solid black; background-color: #bababa";
        document.getElementById("text2").style = "border:1px solid black; background-color: #bababa";
        document.getElementById("text3").style = "border:1px solid black; background-color: #bababa";
        document.getElementById("text4").style = "border:1px solid black; background-color: #c5fcc8";
        document.getElementById("text5").style = "border:1px solid black; background-color: #bababa";
        document.getElementById("text6").style = "border:1px solid black; background-color: #bababa";
    }
    function sec(){
        document.getElementById("email1").disabled = true;
        document.getElementById("email2").disabled = true;
        document.getElementById("email3").disabled = true;
        document.getElementById("email4").disabled = true;
        document.getElementById("bank1").disabled = true;
        document.getElementById("bank2").disabled = true;
        document.getElementById("bank3").disabled = false;
        document.getElementById("bank4").disabled = false;
        document.getElementById("shop1").disabled = true;
        document.getElementById("shop2").disabled = true;
        document.getElementById("shop3").disabled = true;
        document.getElementById("shop4").disabled = true;
        if(attempt == 0)
            document.getElementById("bank4").disabled = true;
        if(attempt == 3)
            document.getElementById("bank3").disabled = true;
        document.getElementById("text1").style = "border:1px solid black; background-color: #bababa";
        document.getElementById("text2").style = "border:1px solid black; background-color: #bababa";
        document.getElementById("text3").style = "border:1px solid black; background-color: #bababa";
        document.getElementById("text4").style = "border:1px solid black; background-color: #bababa";
        document.getElementById("text5").style = "border:1px solid black; background-color: #c5fcc8";
        document.getElementById("text6").style = "border:1px solid black; background-color: #bababa";
    }
    function third(){
        document.getElementById("email1").disabled = true;
        document.getElementById("email2").disabled = true;
        document.getElementById("email3").disabled = true;
        document.getElementById("email4").disabled = true;
        document.getElementById("bank1").disabled = true;
        document.getElementById("bank2").disabled = true;
        document.getElementById("bank3").disabled = true;
        document.getElementById("bank4").disabled = true;
        document.getElementById("shop1").disabled = true;
        document.getElementById("shop2").disabled = true;
        document.getElementById("shop3").disabled = false;
        document.getElementById("shop4").disabled = false;
        if(attempt == 0)
            document.getElementById("shop4").disabled = true;
        if(attempt == 3){
            document.getElementById("shop3").disabled = true;
        }
        document.getElementById("text1").style = "border:1px solid black; background-color: #bababa";
        document.getElementById("text2").style = "border:1px solid black; background-color: #bababa";
        document.getElementById("text3").style = "border:1px solid black; background-color: #bababa";
        document.getElementById("text4").style = "border:1px solid black; background-color: #bababa";
        document.getElementById("text5").style = "border:1px solid black; background-color: #bababa";
        document.getElementById("text6").style = "border:1px solid black; background-color: #c5fcc8";   
    }
    function pass(){
        send('enter','start','');
        localStorage.setItem("str2", trackstr[order[count-3]]);
        window.open('Testing.html','_blank','titlebar=no,toolbar=no,location=no, height = 220,width = 500');
        attempt++;
        setup();
    }
    function submit(){
        localStorage.clear();
        document.getElementById("shop3").disabled = true;
        document.getElementById("shop4").disabled = true;
        document.getElementById("email3").disabled = true;
        document.getElementById("email4").disabled = true;
        document.getElementById("bank3").disabled = true;
        document.getElementById("bank4").disabled = true;
        alert("Thank you we are done");
    }
    async function id(){
        const response = await fetch('/user');
        const as =  await response.json();
        localStorage.setItem("user", as.id)
        document.getElementById('test').innerHTML = "User: "+as.id;
    }
    if (performance.navigation.type == 1) {
        localStorage.clear();
    }
</script>
<body>
    <h1>Password Tester</h1>
    <h2 id = 'test'></h2>
    <h2>Scheme: directrandom</h2>
    <h4 id = "text1"> 
        Email
        <br><br>
        <button onclick = "opened(); send('create','start','');" id = "email1" >Create</button>
        <button onclick = "increase()" id = email2>Next</button>
    </h4>
    <h4 id = "text2">
        Bank
        <br><br>
        <button onclick = "opened(); send('create','start','');;" id = "bank1">Create</button>
        <button onclick = "increase()" id = bank2>Next</button>
    </h4>
    <h4 id = "text3">
        Shopping
        <br><br>
        <button onclick = "opened(); send('create','start','');" id = "shop1">Create</button>
        <button onclick = "increase()" id = shop2>Next</button>
    </h4>
    <script>
        show();
        id();
        setup();
    </script>
</body>
</html>