<!DOCTYPE html>
<html lang="en">
<head>
    <title>Password</title>
</head>
<script>
   /*
        correct() - Changes the numerical password to the arrows so the user can see them
        entered() - Checks if the user inputs the correct password
        send() - Sends the information gotten from the users to the server to the csv
        closer() - Closes the window
    */
    function correct(){
        var temp = localStorage.getItem("str"); //Temp is used so that its easier to track whats going on
        for(let i = 0; i < 7; i++){ //This for statement loops through the elements and then writes them to document
            if (temp[i] == "q")
                document.write('&#8598;');
            else if (temp[i] == "w")
                document.write('&#8593');
            else if (temp[i] == "e")
                document.write('&#8599');
            else if (temp[i] == "a")
                document.write('&#8592');
            else if (temp[i] == "d")
                document.write('&#8594');
            else if (temp[i] == "z")
                document.write('&#8601');
            else if (temp[i] == "x")
                document.write('&#8595');
            else if (temp[i] == "c")
                document.write('&#8600');
        }
        
    }
    function entered(){
        var str = document.getElementById("text1").value; //gets the data in the text box
        document.getElementById("text1").value = ""; //clears the textbox
        if(str == localStorage.getItem("str")){//determines if they were right or not
            alert("You got it right");
            send('create','pwtest','good')
        }
        else{
            alert("You got it wrong it");
            send('create','pwtest','bad')
        }
    }
    function send(x, y, z){
        let date = new Date();
        let month = ((date.getMonth()+1) < 10 ? '0' : '') + (date.getMonth()+1);
        let day = (date.getDay() < 10 ? '0' : '') + date.getDay();
        let hour = (date.getHours() < 10 ? '0' : '') + date.getHours();
        let min = (date.getMinutes() < 10 ? '0' : '') + date.getMinutes();
        let sec = (date.getSeconds() < 10 ? '0' : '') + date.getSeconds();

        let dstr = date.getFullYear()+"-"+month+"-"+day+ " "+hour+":"+
        min+":"+sec;
        if(localStorage.getItem("hold") == null) {
            localStorage.setItem("hold", JSON.stringify([])); 
        }
        if (z=="") 
        {
            z = navigator.userAgent;
            z = JSON.stringify(z);
        }
        let rest = JSON.stringify([dstr, localStorage.getItem('user'), "directpass","directrandom", "qweadzxc", x,
        y, z]);
    
        const options = {
            method: 'POST',
            headers: {
                "Content-type": "application/JSON"
            },
            body: rest
        };
        fetch('/data', options)
    }


    function closer(){
        send('create','passwordSubmitted','pw:'+localStorage.getItem('str'));
        send('create','Done','');
        var delayInMilliseconds = 50; //1 second

        setTimeout(function() {
            window.close();
        }, delayInMilliseconds);
            }
</script>
<body>
        <h3>Your password is:
    <script>correct();</script>
    <br>
    Below you can see the letters acquainted with each arrow </h3>
    <img id = "testImg" src = "Image.png"/>
        <h4>Please practice your password now:
        <input id ="text1" placeholder="Enter password">
        <button onclick = "entered()" id = "button1">Test</button>
        <br>
        When you are done practicing please click done
        <button onclick = "closer(); " id = "button2">Done</button>
    </h4>
</body>
</html>
