<!DOCTYPE html>
<html lang="en">
<head>
    <title>Testing</title>
    <script>
        /*
            send() - Sends the information gotten from the users to the server to the csv
            check() - Checks if you ented the password right or wrong and then closes the browser
        */
        function send(x, y, z){
        let date = new Date();
        let month = ((date.getMonth()+1) < 10 ? '0' : '') + (date.getMonth()+1);
        let day = (date.getDay() < 10 ? '0' : '') + date.getDay();
        let hour = (date.getHours() < 10 ? '0' : '') + date.getHours();
        let min = (date.getMinutes() < 10 ? '0' : '') + date.getMinutes();
        let sec = (date.getSeconds() < 10 ? '0' : '') + date.getSeconds();

        let dstr = date.getFullYear()+"-"+month+"-"+day+ " "+hour+":"+
        min+":"+sec;
        if(localStorage.getItem("hold") == null) {
            localStorage.setItem("hold", JSON.stringify([])); 
        }
        if (z=="") 
        {
            z = navigator.userAgent;
            z = JSON.stringify(z);
        }
        let rest = JSON.stringify([dstr, localStorage.getItem('user'), "directpass","directrandom", "qweadzxc", x,
        y, z]);
    
        const options = {
            method: 'POST',
            headers: {
                "Content-type": "application/JSON"
            },
            body: rest
        };
        fetch('/data', options)
    }
        function check(){
            var temp = localStorage.getItem("str2");
            send('enter', 'passwordSubmitted', 'pwN:'+temp)
            if(temp == document.getElementById("in").value){
                send('login','success',temp);
                alert("You got it right");
            }
            else{
                send('login','failure',temp);
                alert("You got it wrong");
            }
            window.close();
        }
    </script>
</head>
<body>
    <h4>
        <script>
            document.write("q w e<br>");
            document.write('&#8598; &#8593; &#8599; <br>');
            document.write("a d<br>");
            document.write("&#8592; &#8594;<br>");
            document.write("z x c<br>");
            document.write("&#8601; &#8595; &#8600;");

        </script>
    </h4>
    <br>
    <input id ="in" placeholder="Enter password">
    <button onclick = "check()" id = "test">Done</button>
</body>
</html>
